<h1><%= title%></h1>

<p>
CoodeAnth is the intersection between coding and anthropology. 
Coding is software making. Anthropology is research about people.
What could that intersection look like? That is what we are trying to find out with CodeAnth.
You are welcome to be a part of it.
</p>

<br>
<br>

<h3>Roses are red, violets are blue, unexpected '}' on line 32</h3>


<p>
We currently hold an online LRG (learning and research group).
We read something and discuss it, hoping to gain something out of it.
We think that will help us figuring out what CodeAnth could be.
</p>
<br>
<br>
<p>JOIN US by sending an email to g.heurich@ucl.ac.uk</p>

