<h1><%= title%></h1>
<br>
<br>
<div>
<p>
Coding is making software. Anthropology is researching people.<br>
What could the intersection between them be?<br>
That is what we are trying to find out with CodeAnth.<br>
<br>
You are welcome to be a part of it.<br>
</p>
</div>
<br>
<br>

<p>
We currently hold an online LRG (learning and research group).<br>
We read something and discuss it, hoping to gain something out of it.<br>
We think that will help us figuring out what CodeAnth could be.<br>
</p>
<br>
<br>
<p>JOIN US by sending an email to g.heurich@ucl.ac.uk</p>
<br>
<br>
<div>
<h3>SCHEDULE and READINGS</h3>
<p> November 5th </p>
<p>"At the edge of language: the art of code"<br> 
chapter 2 of Michael Black's PhD Dissertation.<br>
Available through creative commons licensing<br>
<a href="https://repository.upenn.edu/dissertations/AAI3072974/"> here </a></p>
<p> November 12th </p>
<p> November 19th </p>
<p> November 26th </p>
<p> December 3rd </p>
<p> December 10th </p>
</div>
<br>
<br>
