<div class="paragraph">
  <div>
    <p>
      Coding is making software.<br>
      Anthropology is researching people.<br>
      What could the intersection between them be?<br>
      <br>
      That is what we are trying to find out with CodeAnth.<br>
      <br>
      You are welcome to be a part of it.<br>
    </p>
  </div>
<br>
  <div>
    <p>CodeAnth is currently based on two main threads: <br>
    (1) interviews with ruby developers, and <br>
    (2) a reading group.
    </p>
<br>
  </div>
  <div>
    <p>(1) if you are a ruby developer and want to know more about this project, please enter your email below and we'll be in touch.
<%=
  form_for :new_interlocutor, routes.path(:create_interlocutor), params: { email: :email } do
    email_field :email

    submit '#MINASWAN'
  end
  %>
    </p>
  <br>
  <br>
  </div>
    <p>
    (2) if you also want to be a part of our learning and reading group, please join us by sending an email to join@code-anth.xyz
    </p>
  <br>
  <br>
  </div>
  <div class="paragraph">
    <p>
    Have a look at what we've read so far: <%= link_to 'readings', routes.path(:readings) %>
    </p>
  </div>
</div>
