<% if post %>
  <div id="title" class="post-title">
    <h2><%= post.title %></h2>
    <br>
  </div>
  <div id="content">
    <% content.each do |paragraph| %>
    <div class="paragraph">
    <p><%= paragraph %></p>
    <br>
    </div>
    <% end %>
  </div>
<% else %>
 <p class="placeholder">Nothing to show yet.</p>
<% end %>
