<% if post %>
  <div id="title">
    <h2>:: <%= post.title.downcase %></h2>
    <br>
  </div>
  <div id="content" class="post-content">
    <% content.each do |paragraph| %>
      <%= paragraph %>
    <br>
    <% end %>
  </div>
<% else %>
 <p class="placeholder">Nothing to show yet.</p>
<% end %>
