<!DOCTYPE html>
<html>
  <head>
    <title>Code_Anth</title>
    <%= favicon %>
    <%= stylesheet 'application' %>
  </head>
  <body class="body">
    <div class="wrapper">
      <div class="col1">Left/Menu</div>
      <div class="col2">
      <%= yield %>
      </div>
      <div class="col3">Right/Silly</div>
    </div>
  </body>
</html>
