<!DOCTYPE html>
<html>
  <head>
    <title>Code_Anth</title>
    <%= favicon %>
    <%= stylesheet 'application' %>
  </head>
  <body class = "body">
    <h1>Code_Anth</h1>
    <h2>------------------</h2>
    <br>
    <%= yield %>
  </body>
</html>
